.body{
  font-size: 12px;
}

.h2 {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height);
}

.chart {
  background-color: #fafafa;
}

#btn-refresh{
  position: absolute;
  left: 12px;
  top: 156px;
}

input {
  border: none;
  outline: none;
}

.line {
  fill: none;
  stroke: #18A0FB;
  stroke-width: 2;
}

/* Tab bar */
.tab_bar{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  height: 41px;
  border-bottom: 1px solid var(--black1);
}

.tab{
  line-height: 40px;
  padding: 0 16px;
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-pos-large);
  color: #b3b3b3;
}

.tab.active{
  color: #333;
}

.tab:hover{
  color: #333;
  cursor: default;
}

/* Settings */

.settings{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.settings .setting_row{
  display: flex;
  flex-direction: row;
  height: 32px;
  align-items: center;
  justify-items: center;
}

.setting_row:last-child{
  margin-top: 8px;
}

.slider_label{
  width: 80px;
  font-size: 11px;
}

.slider{
  flex: 3 1 auto;
  -webkit-appearance: none; 
  appearance: none;
  height: 1px;
  background-color: #75757566;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px; 
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1.5px solid #050505;
}

.slider:hover::-webkit-slider-thumb {
  background-color: #050505;
}

.slider:active::-webkit-slider-thumb {
  background-color: var(--blue);
  border: 1.5px solid var(--blue);
}

/* Button group */
.btn-group{
  display: flex;
  flex: 1;
  flex-direction: row;
}

.btn-item{
  flex-grow: 1;
  line-height: 32px;
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-pos-large);
  text-align: center;
  color: #333;
  border-radius: 2px;
}

.btn-item:first-child{
  margin-right: 8px;
}

.btn-item:hover{
  box-shadow: 0 0 0 1px var(--black1);
  cursor: default;
}

.btn-item.active{
  background-color: var(--black1);
}


/* Button */
.button{
  display: inline-block;
}

#create{
  margin-top: 8px;
}

.btn-wrap{
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 20px;

}