.body{
  font-size: 12px;
}

.h2 {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height);
}

.chart {
  background-color: #fafafa;
}

#refresh{
  position: absolute;
  left: 159px;
  top: 156px;
}

input {
  border: none;
  outline: none;
}

.line {
  fill: none;
  stroke: #18A0FB;
  stroke-width: 2;
}

/* Tab bar */
.page{
  display: none;
}

.tab_bar{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  height: 41px;
  border-bottom: 1px solid var(--black1);
}

.tab{
  line-height: 40px;
  padding: 0 16px;
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-pos-large);
  color: #b3b3b3;
  user-select: none; 
}

.tab.active{
  color: #333;
}

.tab:hover{
  color: #333;
  cursor: default;
}

/* Settings */

.settings{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.settings .setting_row{
  display: flex;
  flex-direction: row;
  height: 32px;
  align-items: center;
  justify-items: center;
}

.setting_row:last-child{
  margin-top: 8px;
}

.slider_label{
  width: 80px;
  font-size: 11px;
}

.slider{
  flex: 3 1 auto;
  -webkit-appearance: none; 
  appearance: none;
  height: 1px;
  background-color: #75757566;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px; 
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1.5px solid #050505;
}

.slider:hover::-webkit-slider-thumb {
  background-color: #050505;
}

.slider:active::-webkit-slider-thumb {
  background-color: var(--blue);
  border: 1.5px solid var(--blue);
}

.slider:disabled::-webkit-slider-thumb {
  border: 1.5px solid #75757566;
  pointer-events: none;
}

/* Preset list */
.preset_list{
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  height: 176px;
  overflow: auto;
}

.preset_list li{
  list-style-type: none;
  display: flex;
  margin-bottom: 8px;
}

.preset_list li input{
  display: none;
}

.preset_list li .preset_label{
  flex: 1;
  line-height: 32px;
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-pos-large);
  text-align: left;
  padding-left: 16px;
  color: #333;
  border-radius: 4px;
  user-select: none; 
}

.preset_list li .preset_label:hover{
  box-shadow: 0 0 0 1px var(--black1);
  cursor: default;
}

.preset_list li input:checked + label{
  background-color: var(--black1);
}


/* Button group */
.btn-group{
  display: flex;
  flex: 1;
  flex-direction: row;
}

.btn-group input{
  display: none;
}

.radio-btn{
  flex-grow: 1;
  line-height: 32px;
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-pos-large);
  text-align: center;
  color: #333;
  border-radius: 4px;
  user-select: none; 
}

.radio-btn:hover{
  box-shadow: 0 0 0 1px var(--black1);
  cursor: default;
}

.btn-group input:checked + label{
  background-color: var(--black1);
}


/* Button */
.button{
  display: inline-block;
}

#create{
  margin-top: 8px;
}

.btn-wrap{
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 20px;

}